.feedlist li {
    float: left;
    width: 50%;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 20px;
    border-radius: 0;
}

.feedlist li:nth-child(2n+1) {
    padding-right: 0;
}


.feedlist li .picture {
    height: 250px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.feedlist li .picture img {
    min-height: 100%;
}

.feedlist li .text {
    height: 50px;
    border-radius: 0 0 10px 10px;
    padding-bottom: 25px;
}
.modifica-foto {
    text-transform: uppercase;
    border: none;
    background-color: #39c;
    padding: 5px 5px 5px 5px;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 10px 10px 10px 10px;
}
.elimina-foto {
    text-transform: uppercase;
    color: #39c;
    border: none;
    padding: 5px 5px 5px 5px;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px 10px 10px 10px;
}
.data {
     font-size: 10px;
     color: #39c;
     text-transform: uppercase;
    
}
.prova {
    background-image: 'crocetta.png';
}
.error {
    text-align: center;
    color: red;
<<<<<<<<< saved version

=========
<<<<<<<<< saved version
    border-bottom: 15px;
=========
<<<<<<<<< saved version
    padding-bottom: 15px;
=========
<<<<<<<<< saved version
    margin-bottom: 15px;
>>>>>>>>> local version
>>>>>>>>> local version
>>>>>>>>> local version
    
=========

>>>>>>>>> local version
}